footer {
  color: #FFFFFF;
  background: #2D2D2D;
  padding: 20px 0;
  

  display: flex;
  justify-content: flex-end;
  align-items: center;

  p1 {
    color: @malachite;
    font-size: 1.6rem;
    padding-left: .4%;
    width: 20%;
    

  }

  nav {
    display: flex;
    justify-content: flex-end;
    .bordercolor();
    width: 30%;
    padding-right: 1%;

    :nth-child(2) {
      width: 35%;
    }
  }

  nav a {
    text-decoration: none;
    color: @malachite;
    font-size: 1.8rem;
    padding-right: 1%;
    
    

    &:hover {
      color: @alabaster;
    }
  }
}
