.home {
    .bordercolor();
    margin-top: 3%;
  
    @media @phone {
      margin-top: 15%;
    }
  
    .intro {
      .bordercolor();
      width: 100%;
      background: linear-gradient(38.54deg, #FFFFFF 21.78%, #D1D1D1 113.31%);
  
      .topheader {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
  
        .topimg {
          width: 40%;
          display: flex;
          justify-content: center;
        }
  
        img {
          border-radius: 10px;
          width: 100%;
        }

        .finally {
            width: 50%;
            

            h2 {
                padding: 2%;
                color: @malachite;
            }
        
            p {
                padding:0 2%;
            }

            
        }

        .signup {
            width: 80%;
            padding: 1%;
  
            @media @phone {
              width: 100%;
            }   
        }

        button {
            display: flex;
            justify-content: center;
            .buttonsignup();

            @media @phone {
                width: 100%;
                height: 8vh;
            }
    
            &:hover {
                background-color: @malachite;
                color: @alabaster;
            }
        }
      
      }
    }
    
  
    .space-images {
      display: flex;
      width: 100%;
      .justifybetween();
      .bordercolor();
  
      .threepic {
        .bordercolor();
        display: flex;
        width: 100%;
        .justifybetween();
        margin: 1% 0;
        

        h2 {
            font-size: 2.2rem;
            padding: 2% 0;
        }

        @media @phone {
          justify-content: center;
          flex-direction: column;
        }
      }

      .icon {
          display: flex;
          justify-content: center;
          padding: 9% 0 4% 0;
          .bordercolor()
      }

      .create {
        background: @alabaster;
        margin: 0 1%;
        padding: 1%;
        
      }

      .track {
        background: @alabaster;
        margin: 0 1%;
        padding: 1%;
      }

      .analyze {
        background: @alabaster;
        margin: 0 1%;
        padding: 1%;
      }
     
    }
  
    .walk {
      margin-top: 0;
      border-top: 1px solid @main-border-color;
      padding: 0 4%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: @alabaster;
  
      @media @phone {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1%;
      }
  
      .walk-text {
        width: 50%;
        .bordercolor();
  
        @media @phone {
          width: 100%;
        }
  
        h3 {
          margin-bottom: 2%;
          color: @malachite;
        }
  
        p {
          margin-bottom: 3%;
        }
  
        .btn {
          width: 80%;
  
          @media @phone {
            width: 100%;
          }
        
        }
  
        button {
          .buttonsignup();
          background-color: @white;
          
          
          @media @phone {
            width: 100%;
            height: 8vh;
          }
  
          &:hover {
            background-color: @malachite;
            color: @alabaster;
          }
        }
  
        
      }
  
      .walk-img {
        width: 30%;
        margin-left: 15%;
        padding-top: 4%;
    
  
        @media @phone {
          width: 100%;
        }
        
        img {
         
        }
      }
    }
}// home
//////////////////about page//////////////

.about {
    
    #bg {
        position: fixed; 
        top: -50%; 
        left: -50%; 
        width: 150%; 
        height: 200%;
        z-index: -5;
    
      
      #bg img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
      }
    }

    .bordercolor();
    margin-top: 3%;
  
    @media @phone {
      margin-top: 15%;
    }

    .aboutUs {
        width: 100%;
    }

    .team {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        .bordercolor();

        .PL {
            display: flex;
            justify-content: center;
            width: 100%;
            
            .bordercolor();

            .jackie {
                .teamstyle();
            }
        }

        .uiDev {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;
            

            .Isaac {
                .teamstyle();
            }

            .Charlie {
                .teamstyle();
            }
        }

        .React1 {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;

            .Allen {
                .teamstyle();
            }

            .Adebola {
                .teamstyle();
            }
        }

        .react2 {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;

            .Kai {
                .teamstyle();
            }

            .Robert {
                .teamstyle();
            }
        }

        .backendDev {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;

            .Sergio {
                .teamstyle();
            }

            .Mike {
                .teamstyle();
            }
        }
    }
}